.link-bank {
  $this: &;
  @apply bg-aqua-haze p-8 mb-6 overflow-hidden;
  &__title {
    @apply font-bold text-center mb-4 text-lg;
  }
  &__content {
    column-count: 1;
    @screen md {
      column-count: 2;
    }
   & ul {
      padding-left: config('padding.8') !important;
    }
    li a {
      @apply no-underline;
      &:hover {
        @apply underline;
      }
    }
  }
  &--is-left {
    @apply float-none;
    @screen md {
      @apply float-left w-2/5;
    }
  }
  &--is-right {
    @apply float-none;
    @screen md {
      @apply float-right w-2/5;
    }
    #{$this}__content {
      column-count: 1;
    }
  }
}
