// ==========================================================================
// Global config
// ==========================================================================
$image-path: '../images'; // relative to dist directory

// =============
// Anchor tags
// ==============
$link-text-color: config('colors.secondary');
$link-text-color--hover: config('colors.secondary-400');

// =============
// Text Selection
// ==============
$selection-text-color: config('colors.white');
$selection-background-color: config('colors.secondary');
