// Base styles for user submitted content
.page article,
.post article,
.error404 article,
.single article,
.archive article {
  @apply max-w-fwt;

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold mb-6;
  }

  hr {
    border: 1px solid config('colors.light-500');
    margin: rem(45) 0;
  }

  p:empty {
    display: none;
  }

  p, ul, ol, a {
    @apply font-serif;
  }

  p, ul, ol {
    @apply mb-6;
  }

  ul, ol {
    @apply pl-6;

    @screen md {
      @apply pl-10;
    }

    li {
      @apply mb-3;

      &:last-child {
        @apply mb-0;
      }
    }
  }
  ol > li {
    @apply pl-3;
  }

  // Per WP Codex (with modifications): https://codex.wordpress.org/Styling_Images_in_Posts_and_Pages
  img.alignright { float: right; margin: 0 0 2.5rem 2.5rem }
  img.alignleft { float: left; margin: 0 2.5rem 2.5rem 0 }
  img.aligncenter { display: block; margin-left: auto; margin-right: auto }
  a img.alignright { float: right; margin: 0 0 2.5rem 2.5rem }
  a img.alignleft { float: left; margin: 0 2.5rem 2.5rem 0 }
  a img.aligncenter { display: block; margin-left: auto; margin-right: auto }
}
