// Added to <html> when mobile menu is active
.no-scroll {
  overflow: hidden;
}

.menu-overlay {
  $tt: .4s;
  @apply flex flex-col justify-center items-center absolute pin w-screen bg-primary z-50 h-0 opacity-0 invisible;
  transition: opacity $tt, visibility $tt, height $tt;

  &.is-active {
    @apply h-screen opacity-95 visible;
  }
}

#menu-mobile-navigation {
  $tt: .3s;

  @apply absolute invisible opacity-0;
  transform: translateY(-50%);
  transition: opacity $tt, visibility $tt;

  &.is-active {
    @apply visible opacity-100;
    transition-delay: .2s;
  }

  & > .menu-item {
      @apply relative text-center;
      list-style: none;

      & a {
        @apply block text-white w-full p-4 text-2xl no-underline;
      }
    }
}

.menu-item-has-children {
  & .sub-menu {
    @apply hidden;
  }
}
