@screen md {
  $active-border-thickness: 2px;
  #menu-primary-navigation {

    @apply static flex items-stretch visible opacity-100;

    /* First level */
    & > .menu-item {
      @apply flex items-stretch relative;
      border-bottom: $active-border-thickness solid transparent;

      &:hover {
        border-bottom: $active-border-thickness solid config('colors.white');
      }
      & a {
        @apply text-white flex items-center px-6;
      }
    }
  }
  // Has a sub-menu
  .menu-item-has-children {
    /* Down arrow */
    &::before {
      color: config('colors.white');
      content: "\025BE";
      position: absolute;
      right: 0.6rem;
      top: 50%;
      transform: translateY(-50%);
    }
    /* Second level */
    & .sub-menu {
      @apply flex flex-wrap absolute z-10 bg-primary-500 invisible opacity-0 text-sm list-reset p-4;
      width: 35rem;
      top: calc(100% + #{$active-border-thickness});
      left: 0;
      white-space: no-wrap;
      word-wrap: normal;

      & .menu-item {
        @apply px-0;
        width: calc(100% / 3);

        & a:hover {
          text-decoration: underline;
        }
      }
    }
    &:hover > .sub-menu, & > a:focus + .sub-menu {
      @apply visible opacity-100;
    }
  }
}
