.cta {
  &--footer {
    background-image: image('cta-footer-mobile@2x.jpg');
    background-size: cover;
    min-height: rem(260);

    @screen sm {
      background-image: image('cta-footer@2x.jpg');
    }
  }
}
