.cta {
  &--footer {
    background-image: image('cta-footer-mobile@2x.jpg');
    background-size: cover;
    min-height: rem(260);

    @screen sm {
      background-image: image('cta-footer@2x.jpg');
    }
  }
  &--sticky-mobile {
    transform: translateY(100%);
    transition: transform .5s;

    &.is-active {
      transform: translateY(0);
    }
  }
}
