// Supplements the Tailwind CSS container component options
.container {
  $padding-desktop: 20;

  @screen xl {
    padding-right: rem($padding-desktop);
    padding-left: rem($padding-desktop);
  }

  &--no-center {
    margin: initial;
  }
}
