.overlay {
  $overlay--base: color(config('colors.black') a(config('opacity.40')));
  $overlay--tint: color(config('colors.primary') a(config('opacity.40')));

  &--base {
    position: relative;
      &::before {
      @include overlay($overlay--base);
    }
  }
  &--tinted {
    position: relative;
    &::before {
      @include overlay($overlay--tint);
    }
    &::after {
      @include overlay($overlay--base);
    }
  }
}
